@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Calculador IMC (Índice de Masa Corporal)</h2>
<div class="container">
<form action="" method="post">

    <h3>Peso(KG):</h3>
   
    <input type="number" name="peso" required/>

    <h3>Estatura(CM):</h3>
    
    <input type="number" name="estatura" required>
    <br />
    <br />
    <button class="btn btn-outline-success">Calcular</button>

</form>



<label>Resultado:</label>
<label>@Model.resultado</label>
</div>

<br />
<br />
<br />
<div class="container">
<table id="TableKey" border="0" width="100%" cellspacing="0" cellpadding="2">
    <tbody>
        <tr>
            <td class="strongtext"><strong>Composición corporal</strong></td>
            <td class="strongtext"><strong>Índice de masa corporal (IMC)</strong></td>
        </tr>
        <tr>
            <td class="AltRow1">Peso inferior al normal</td>
            <td class="AltRow1">Menos de 18.5</td>
        </tr>
        <tr>
            <td class="AltRow2">Normal</td>
            <td class="AltRow2">18.5 – 24.9</td>
        </tr>
        <tr>
            <td class="AltRow1">Peso superior al normal</td>
            <td class="AltRow1">25.0 – 29.9</td>
        </tr>
        <tr>
            <td class="AltRow2">Obesidad</td>
            <td class="AltRow2">Más de 30.0</td>
        </tr>
    </tbody>
</table>

</div>